<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pig Latinized!</title>
  </head>
  <body>
    <h1>Pig Latinized!</h1>

    <p>In Pig Latin it is: <%= "#{@piglatinized_text}" %>! </p>

  </body>
</html>