<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <form action="/piglatinize" method="post">

    <label for="user_phrase">Enter your phrase:</label>
    <input type="text" name="user_phrase" placeholder="Write some text here to be Pig Latinized!">
    <input type="submit" value="Submit">

    </form>
  </body>
</html>